.About {
  grid-area: about;
  background-color: #414141;
  padding: 10px 20px;
}

.About p {
  color: white;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 2px;
  text-shadow: 2px 2px black;
}

.About textarea {
  color: white;
  width: 100%;
  height: 500px;
  background-color: transparent;
  border: none;
  font-size: 15px;
  resize: none;
}

@media print {
  .About p {
    font-size: 17px;
    letter-spacing: 2px;
    text-shadow: 1px 1px black;
  }

  .About textarea {
    font-size: 12px;
  }
}
