html,
body,
#root,
.App {
  height: 100%;
  position: relative;
}

.App {
  display: grid;
  grid-template-areas:
    "about  name contacts contacts"
    "about    prof prof prof"
    "about    prof prof prof"
    "skills    prof prof prof"
    "social    edu  edu  edu"
    "social    skl  skl  skl";
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

input {
  background-color: transparent;
  border: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form-left-side {
  width: 250px;
}

.form-right-side {
  flex: 1;
}

input[type="date"]:invalid {
  color: #999;
}

form {
  margin-top: 20px;
}
.render-left-side {
  width: 250px;
  margin-bottom: 30px;
}

.render-left-side > p:first-child {
  margin: 0;
}
.render-left-side > p:not(:last-child) {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.render-left-side > p:last-child {
  font-weight: normal;
  margin: 6px 0;
}

.timeline {
  border: 2px solid gray;
  position: relative;
}

.timeline > .first-point {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: gray;
  box-shadow: 1px 1px 1px black;
  border: 1px solid lightgray;
  position: absolute;
  bottom: -5px;
  left: -11px;
}

.timeline > .point {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid lightgray;
  background-color: gray;
  box-shadow: 1px 1px 1px black;
  position: absolute;
  left: -11px;
  top: -5px;
}

.render-right-side {
  width: 800px;
  margin-bottom: 30px;
}

.render-right-side > p:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.modal {
  background-color: white;
  border: 1px solid gray;
  display: flex;
  position: absolute;
  height: 500px;
  bottom: 0%;
  padding: 0 20px;
  left: 10%;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  gap: 40px;
  flex: 1;
  align-items: center;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media print {
  .App {
    display: grid;
    grid-template-areas:
      "about  name contacts contacts"
      "about  prof prof     prof"
      "about  prof prof     prof"
      "skills prof prof     prof"
      "social edu  edu      edu"
      "social skl  skl      skl";
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    grid-template-columns: 1fr 4fr 4fr 4fr;
    grid-template-rows: 1fr 3fr 2fr 2fr;
    font-size: 10px;
    max-height: 297mm;
    max-width: 210mm;
  }
  .no-print,
  .no-print * {
    display: none !important;
  }
}
