.Contacts {
  grid-area: contacts;
  background-color: white;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 30px;
  margin-right: 20px;
  border-bottom: 2px solid lightgray;
  min-width: 250px;
  padding: 10px 20px;
}

.Contacts > span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.Contacts > span > input,
.Contacts > span > .address > input {
  font-size: 20px;
}

.Contacts > span > .address {
  display: flex;
  flex-direction: column;
}

@media print {
  .Contacts {
    margin-bottom: 10px;
  }
  .Contacts > span > input,
  .Contacts > span > .address > input {
    font-size: 8px;
  }

  .Contacts > span {
    gap: 2px;
  }

  .Contacts > span > svg {
    width: 10px;
    height: 10px;
    font-size: 8px;
  }
}
