.LanguageMetric {
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.LanguageMetric > div:nth-child(1) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.LanguageMetric > div:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.LanguageMetric > div {
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 2px solid lightgray;
}

.painted {
  background-color: green;
}

.unpainted {
  background-color: inherit;
}
