.Name {
  display: flex;
  flex-direction: column;
  grid-area: name;
  background-color: white;
  justify-content: flex-end;
  margin-bottom: 30px;
  margin-left: 20px;
  border-bottom: 2px solid lightgray;
  padding: 10px 20px;
}

#name,
#surname {
  font-size: 50px;
  letter-spacing: 2px;
}

#carreer {
  font-size: 40px;
  color: rgb(119, 119, 119);
}

.uppercase {
  text-transform: uppercase;
}

@media print {
  #name,
  #surname {
    font-size: 20px;
    letter-spacing: 1px;
  }

  #carreer {
    font-size: 16px;
  }

  .Name {
    margin-bottom: 10px;
  }
}
