.Name {
  display: flex;
  flex-direction: column;
  grid-area: name;
  background-color: white;
  justify-content: flex-end;
  margin-bottom: 30px;
  margin-left: 20px;
  border-bottom: 2px solid lightgray;
}

#name,
#surname {
  font-size: 35px;
  letter-spacing: 2px;
}

#carreer {
  font-size: 27px;
  color: rgb(119, 119, 119);
}

.uppercase {
  text-transform: uppercase;
}
