.ProfessionalExperience {
  grid-area: prof;
  background-color: white;
  margin-left: 20px;
}

.ProfessionalExperience > form {
  display: flex;
  gap: 50px;
}

.ProfessionalExperience > form > div {
  display: flex;
  flex-direction: column;
}
