.ProfessionalExperience {
  grid-area: prof;
  background-color: white;
  margin: 0 20px 30px 20px;
  border-bottom: 2px solid lightgray;
  padding: 10px 20px;
}

.ProfessionalExperience > p {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
}

.ProfessionalExperience > form {
  display: flex;
  gap: 50px;
}

.ProfessionalExperience > form > div {
  display: flex;
  flex-direction: column;
}

.Experience {
  display: flex;
  gap: 100px;
}

.render-right-side > p:last-child {
  font-size: 14px;
  margin: 0;
  word-break: break-all;
  white-space: pre-line;
  line-height: 25px;
}

form > .form-left-side > span {
  display: flex;
  gap: 5px;
  color: gray;
}

form > .form-right-side > textarea {
  resize: vertical;
}

form > button {
  background-color: none;
  border: none;
  width: 100px;
  height: 50px;
  align-self: center;
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

form > button:hover {
  background-color: lightgreen;
  cursor: pointer;
}

#company,
#state,
#job-position,
#exp-start-date,
#exp-end-date {
  border: 1px solid lightgray;
  margin-bottom: 3px;
  border-radius: 5px;
}

.render-left-side > p {
  word-break: break-all;
}

.render-right-side > p {
  word-break: break-all;
}

@media print {
  .Experience {
    gap: 30px;
  }
  .ProfessionalExperience {
    max-width: 100%;
  }
  .ProfessionalExperience > p {
    font-size: 17px;
  }

  .Experience > .render-right-side > p:first-of-type,
  .Experience > .render-left-side > p:first-of-type,
  .Experience > .render-left-side > p:nth-of-type(2) {
    font-size: 12px;
  }

  .render-right-side > p:last-child,
  .Experience > .render-left-side > p:last-child {
    font-size: 10px;
    line-height: 15px;
  }

  .render-left-side {
    min-width: 100px;
    max-width: 100px;
  }

  .render-right-side {
    flex: 1;
  }
}
