.Skills {
  grid-area: skl;
  background-color: white;
  margin: 0 20px 30px 20px;
  padding: 10px 20px;
}
.Skills > p {
  font-size: 30px;
  font-weight: bold;
}

.Skills > #render-images {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

.Skills > #render-images > .skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Skills > #render-images > .skill-container > p {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.Skills > #search-images {
  display: flex;
}

#search-images-input {
  border: 1px solid lightgray;
  margin-bottom: 3px;
  border-radius: 5px;
}

#close_button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#close_button:hover {
  background-color: red;
  border-radius: 50%;
}

.img_icon {
  cursor: pointer;
}

.img_icon:hover {
  background-color: lightgreen;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
}

@media print {
  .Skills > p {
    font-size: 17px;
  }

  .Skills > #render-images > .skill-container > img {
    height: 70px;
    width: 70px;
  }
}
