.SocialLinks {
  grid-area: social;
  background-color: #414141;
  border-bottom-left-radius: 30px;
  padding: 10px 20px 50px 20px;
}

.SocialLinks > p {
  color: white;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 2px;
  text-shadow: 2px 2px black;
}

.link {
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px black;
  font-size: 15px;
}

svg {
  padding-right: 10px;
}

.username {
  display: flex;
  align-items: center;
}

.username:nth-of-type(1) {
  margin-top: 30px;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.start-section {
  margin: 0 4px;
  border-bottom: 2px solid lightgray;
}

@media print {
  .SocialLinks {
    padding: 10px 20px 20px 20px;
  }
  .SocialLinks > p {
    font-size: 17px;
  }

  .username:nth-of-type(1) {
    margin-top: 40px;
  }
  .username > span {
    font-size: 10px;
  }
  .username > input {
    font-size: 10px;
  }

  .link {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px black;
    font-size: 12x;
  }
}
