.SocialLinks {
  grid-area: social;
  background-color: #414141;
  border-bottom-left-radius: 30px;
}

.SocialLinks > p {
  color: white;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 2px;
  text-shadow: 2px 2px black;
}

.link {
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px black;
  font-size: 15px;
}

svg {
  padding-right: 10px;
}

.username {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

.start-section {
  margin: 0 4px;
  border-bottom: 2px solid lightgray;
}
