.SocialLinks {
  grid-area: social;
  background-color: #414141;
}

.SocialLinks > p > span > input {
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

svg {
  padding-right: 10px
}

.username {
  display: flex;
}